* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "DotGothic16", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  max-height: 100%;
  width: 100%;
}

.upper-half {
  position: fixed;
  z-index: 1;
  height: 25%;
  width: 100%;
  background-color: #ffee32;
}

.nav-list {
  height: 10vh;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  list-style: none;
}

.nav-links {
  display: inline-block;
  padding-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 21px;
  text-transform: uppercase;
}

.nav-links:hover {
  color: black;
}

.nav-links:after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
}

.nav-links:hover:after {
  width: 100%;
}

.education,
.projects,
.contact {
  /* padding: auto;
  margin: auto;
  display: block;
  transform: translateY(50%);
  -moz-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%); */
  height: 90vh;
  position: fixed;
  width: 100%;
  font-size: 2rem;
  display: flex;
}

.home {
  position: absolute;
  left: 25%;
  bottom: 40%;
  width: 50%;
}

.home-content,
.education-content,
.projects-content,
.contact-content {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.education-information li {
  margin: auto;
}

.education-information li::marker {
  content: "🏰";
  /* color: #ffee32; */
}

.title h1 {
  font-size: 70px;
  margin-bottom: 3vh;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #ffee32;
  text-decoration-thickness: 5px;
}

.contact-from-items {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 15px;
  box-sizing: border-box;
  background: #ebeef1;
  border: 0px;
  outline: none;
  border-radius: 30px;
}

.input-message {
  height: 125px;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 15px 15px;
  resize: none;
  background: #ebeef1;
  outline: none;
  border: 0;
  overflow-y: hidden;
}

.contact-presentation .btn-primary,
.contact-presentation .btn-primary:hover,
.contact-presentation .btn-primary:active,
.contact-presentation .btn-primary:visited,
.contact-presentation .btn-primary:focus {
  background-color: #ffee32;
  border-color: #ffee32;
  color: black;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 25px;
  border-style: none;
  outline: none !important;
  cursor: pointer;
  width: 100%;
}

.perspective-text {
  color: black;
  /* font-family: "Roboto", sans-serif; */
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.sliding-perspective-content p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: #ffee32;
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #d6d6d6;
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: #336799;
}

.perspective-line:nth-child(5) {
  left: 145px;
  background: white;
}

.icon-style {
  position: relative;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-top: 5px;
}

.copyright {
  text-transform: uppercase;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.autotyping {
  position: relative;
  padding: 5%;
}

.navbar {
  padding: 20px 0;
}

.navbar-brand {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
  color: #ffee32;
}

.nav-item {
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
  background: #ffee32;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #ffee32;
  padding: 5px 15px;
}

.autotyping .typewrite {
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  font-weight: 1000;
  color: #ffee32;
  text-transform: uppercase;
}

.navbar-light .navbar-toggler {
  border: none;
  border: 2px solid #ffee32;
  border-radius: 0;
  outline: none;
}

/* .navbar-collapse {
  bac
} */

@media (max-width: 768px) {
  .autotyping {
    padding: 35px;
  }
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  padding-bottom: 20px;
}

footer h3 {
  text-transform: uppercase;
  border-radius: 2px;
  background: #ffee32;
  width: fit-content;
  font-weight: 800;
}

.fa-map-marker-alt,
.fa-phone,
.fa-envelope {
  color: #ffee32;
}

/* footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: black;
}

footer a:after {
  content: "";
  margin: 0;
  padding: 0;
  width: 0;
  height: 2px;
  display: block;
  background: #ffee32;
  transition: 300ms;
}

footer a:hover:after {
  width: 100%;
} */

footer .nav-link,
p a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

footer .nav-link:hover,
p a:hover {
  color: #ffee32;
}
/* .wrapper {
  background-color: #336799;
  min-height: 100%;
} */
